@charset "UTF-8";
.wrap .action .version {
  *zoom: 1;
}
.wrap .action .version:before, .wrap .action .version:after {
  display: table;
  content: "";
}
.wrap .action .version:after {
  clear: both;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
  color: #000;
  background-color: #FFF;
}

/*
 * 去掉height:100%;定义
 * -webkit-text-size-adjust:none会导致页面缩放文字失效
 * background-color:#FFF,html元素设置了背景色会导致body的背景色不能100%高度覆盖
 * 把白色背景色定义在html上，定义这个背景色的目的是，修复一些浏览器中设置了浏览器保护色
 * overflow-y:scroll定义在被iframe引用的页面就强制带滚动条
 * */
body {
  margin: 0;
  word-wrap: break-word;
}

/* word-break:break-all会截断英文单词 min-height:100%是个好东西 */
:active {
  outline: 0;
}

:visited {
  outline: 0;
}

:link, :visited, ins {
  text-decoration: none;
}

/*
 * :focus{outline:0}定义后按tab键在连接间跳转没有标识当前连接的外轮廓点线
 * :active{outline:0;}
 * :visited{outline:0;}
 * */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, video, canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, select, textarea, p, blockquote, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

fieldset, iframe {
  border: 0 none;
}

img {
  border: 0 none;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

address, caption, cite, code, dfn, em, i, th, var, optgroup {
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, code, kbd, samp, tt, sup, sub, small, input, button, textarea, select {
  font-size: 100%;
}

abbr, acronym {
  border: 0 none;
  font-variant: normal;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

ol, ul, menu {
  list-style: none outside none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

caption, th {
  text-align: left;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

mark {
  background-color: #FF6;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

input, select, button {
  vertical-align: middle;
}

button {
  width: auto;
  cursor: pointer;
  overflow: visible;
  border: 0;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
}

button::-moz-focus-inner,
input[type=file] > input[type=button]::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}

body {
  color: #525252;
  font: 12px/1.5 "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif;
  background-color: #fff;
}

a {
  color: #666;
}

li {
  list-style: none;
}

.wrap {
  max-width: 640px;
  margin: auto;
}
.wrap .header {
  max-width: 640px;
  height: 427px;
  background: url(images/bg_app_hd.jpg) no-repeat;
  background-size: cover;
}
.wrap .header h1 {
  text-indent: -9999px;
  outline: none;
}
.wrap .action {
  margin: 40px 0;
  text-align: center;
}
.wrap .action .btn-ios {
  background: url(images/btn_ios.png) no-repeat;
}
.wrap .action .btn-android {
  background: url(images/btn_android.png) no-repeat;
}
.wrap .action .btn-ios,
.wrap .action .btn-android {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 263px;
  height: 85px;
  background-size: cover;
}
.wrap .action p {
  margin-top: 10px;
  font-size: 24px;
}
.wrap .action .version {
  margin: 0 auto;
  width: 566px;
}
.wrap .action .version li {
  float: left;
  margin-left: 15px;
  width: 263px;
  height: 135px;
}
.wrap .intro .section {
  margin: 0 auto 50px;
  width: 520px;
}
.wrap .intro .section img {
  width: 520px;
  height: 275px;
}
.wrap .intro .section p {
  margin-top: 14px;
  font-size: 24px;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .wrap {
    max-width: 320px;
  }
  .wrap .header {
    width: 320px;
    height: 213.5px;
  }
  .wrap .action {
    margin: 20px 0;
  }
  .wrap .action .btn-ios,
  .wrap .action .btn-android {
    width: 131.5px;
    height: 42.5px;
  }
  .wrap .action p {
    margin-top: 5px;
    font-size: 12px;
  }
  .wrap .action .version {
    margin: 0 auto;
    width: 283px;
  }
  .wrap .action .version li {
    margin-left: 7.5px;
    width: 131.5px;
    height: 67.5px;
  }
  .wrap .intro .section {
    margin: 0 auto 25px;
    width: 260px;
  }
  .wrap .intro .section img {
    width: 260px;
    height: 137.5px;
  }
  .wrap .intro .section p {
    margin-top: 7px;
    font-size: 12px;
  }
}

/*# sourceMappingURL=app.css.map */
